<nav class="level">
    {{!-- left side --}}
    <div class="level-left">
        <div class="level-item">
            <p class="title">
                <strong>HAPIJS Typescript Boilerplate</strong>
            </p>
        </div>
    </div>

    {{!-- right side --}}
    <div class="level-right">
        <div class="level-item">
            <div class="field">
            {{!-- <div class="field has-addons"> --}}
                <p class="control">
                <input class="input" type="text" placeholder="Search...">
                </p>
                <p class="control">
                {{!-- <button class="button">
                    Search
                </button> --}}
                </p>
            </div>
        </div>
        <p class="level-item"><strong>All</strong></p>
        <p class="level-item"><a>Products</a></p>
        <p class="level-item"><a>Manage</a></p>
        <p class="level-item"><a>Users</a></p>
        {{!-- <p class="level-item"><a class="button is-success">New</a></p> --}}
    </div>
</nav>
