<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<header>
  <% include ../partials/header %>
</header>

<body>
  <h1><%= title %></h1>
  <h2>Welcome</h2>
</body>
<footer>
  <% include ../partials/footer %>
</footer>

</html>